body {
    position: relative;
    height: 100%;
  }

  body {
    background: #fff6ef;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

 
  
  .nav-bar{
    height: 2.8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding: 0.5vw 0.25vw 0.5vw 0.25vw;
    background-color: white;
  }

  .nav-bar img{
    width: 8.5vw;
  }

  .form{
    display: flex;
    gap: 0.5vw;
  }
  
  .input{
    width: 14.5vw;  
    height: 1.85vw;
    padding: 0vw 0.5vw;
    font-size: 0.8vw;
    border-radius: 0.3vw;
    border-color: #ff8667;
    border: 2px solid #ff8667;  
  }

  .bt-Lupa button{
    background-color: #E25E3E;
    border: none;
    color: white;
    border-radius: 0.25vw;
    padding: 0.35vw 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .bt-Lupa img{
    width: 1vw;
  }
  

  .nav-bar a{
    text-decoration: none;
    color: #464646;
    font-size: 1vw;
    font-weight: 500;
  }

  .tamanho{
    display: flex;
    justify-content: center;
    width: 16vw;
  }

.itens-navegaveis{
    display: flex;
    gap: 6em;
}

.itens-navegaveis a:hover{
  transition: 0.2s;
  color: #E25E3E;
}

/* color: #E25E3E; */

.a{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E25E3E;
    color: white;
    text-align: center;
}


.bae{
    padding: 9%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.tamanho{
    display: flex;
    justify-content: center;
    width: 16vw;
  }

.foto-esquerda{
    width: 16vw;
    border-radius: 50%;
    margin-right: 80px;
}

.foto-esquerda-l{
  width: 16vw;
  border-radius: 2%;
  margin-right: 80px;
}

.bloco-desc-ad{
    justify-content: flex-start;
    
    margin-left: 6vw
}

.titulo-ad{
    margin: 1vw 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1vw;
    color: #E25E3E;
}

.resenha-ad{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
    color: #E25E3E;
    text-align: justify;
}

.bad{
    padding: 9%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #FF9B50;
    box-shadow: 5px 10px 18px #888888;
}

.foto-direita{
    width: 16vw;
    border-radius: 50%;
    margin-left: 80px;
}

.bloco-desc-ae{
    justify-content: flex-start;
    margin-right: 6vw;
}

.titulo-ae{
    margin: 1vw 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1vw;
    color: #fff6ef;
}

.resenha-ae{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
    color: #fff6ef;
    text-align: justify;
}

.bac{
    padding: 40px;
    background-color: #fff6ef;
    
}

.redes{
    justify-content: flex-start;
    display:flex;
    justify-content: space-evenly;
}

.logo {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%; /* Faz a imagem ficar circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.sessao-cards a{
    text-decoration: none;
  }


  .input{
    width: 14.5vw;  
    height: 1.85vw;
    padding: 0vw 0.5vw;
    font-size: 0.8vw;
    border-radius: 0.3vw;
    border-color: #ff8667;
    border: 2px solid #ff8667;  
  }

  .bt-Lupa button{
    background-color: #E25E3E;
    border: none;
    color: white;
    border-radius: 0.25vw;
    padding: 0.35vw 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .bt-Lupa img{
    width: 1vw;
  }
